@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
:root{
    --darkBlue : #101935;
    --lightBlue : #9AD4D6;
    --offWhite : #F2FDFF;
    --red : #CC2936;
    --tealblue : #004777;
    --green : rgb(128, 255, 119);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    flex-direction: column;
    background-color: var(--offWhite);
    margin-top:9vh ;
    width: 55vw;
    height: 83vh;  
    border-radius: 20px;
    overflow: hidden;
}
.container h3{
    /* margin: 2vh 28vw; */
    /* background-color: #9AD4D6; */
    width: 100%;
    padding: 1vh 0;
}
.balanceStats{
    flex-direction: column;
    background-color: var(--tealblue);
    width: 25vw;
    height: 20vh;
    border-radius: 10px;
    margin: 0vh 15vw;
}
.formTr{
    /* background-color: beige; */
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: 20px;
}
.currentBalance{
    /* background-color: #9AD4D6; */
    width: 100%;
    text-align: center;
    line-height:25px;
    margin-top: -12px;
}
.currentBalance p{
    color: var(--offWhite);
}
#totalBalance{
    font-size: 20px;
}
.IncExp{
    /* background-color: var(--lightBlue); */
    width: 100%;
    text-align: center;
    line-height:25px;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 3vw;
    color: var(--offWhite);
}
#income{
    font-size: 20px;
    color:var(--green);
}
#expense{
    font-size: 20px;
    color: var(--red);
}

form{
    /* background-color: #9AD4D6; */
    height: 52vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 2.5vh 2.6vw;
    border-radius: 10px;
    border: 2px solid var(--tealblue);
    box-shadow: 0px 0px 15px var(--tealblue);
    /* gap: 10px; */
}
form h4{
    margin-left: 65px;
    margin-bottom: 5px;
    font-size: 18px;
}
input{
    height: 40px;
    border: 1px solid var(--tealblue);
    border-radius: 10px;
    padding: 0px 15px ;
    margin-bottom: 5px;
}
select{
    height: 40px;
    border: 1px solid var(--tealblue);
    border-radius: 10px;
    padding: 0px 15px ;
    margin-bottom: 5px;

}
#addTr{
    height: 50px;
    font-size: 20px;
    background-color: var(--tealblue);
    color: var(--offWhite);
    border: 0px;
    border-radius: 10px;
    margin-top: 15px;
}
.transactionHistory{
    flex-direction: column;
    height: 52vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    padding: 2.5vh 2.6vw;
    /* background-color: rgb(170, 119, 53); */
    border-radius: 10px;
    border: 2px solid var(--tealblue);
    box-shadow: 0px 0px 15px var(--tealblue);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}
/* style for scroll bar */
.transactionHistory::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}
.transactionHistory::-webkit-scrollbar-thumb {
    background-color: var(--tealblue); /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
    clip-path: inset(5px 5px); /* Prevent overflow */

  }
.transactionHistory::-webkit-scrollbar-thumb:hover {
    background-color: #0e2b3e; /* Darker color on hover */
}
  
.transactionHistory h4{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}
.transaction{
    background-color: var(--offWhite);
    min-height: 50px;
    width: 120%;
    border: 0px;
    border-radius: 10px;
    padding: 0px 15px ;
    margin-bottom: 5px;
    justify-content: space-between;
    font-size: 17px;
    border: 1px solid var(--tealblue);
}
#noTr{
    font-size: 20px;
    font-weight: 700;
    color: var(--red);
    margin-top: 15vh;
}
.trNmCat{
    /* background-color: #42b3b7; */
    width: fit-content;
    justify-content: left;
}
.trAmt{
    /* background-color: #5d9ea1; */
    width: fit-content;
    justify-content: right;
    gap: 20px;
}
#deleteTr{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0px;
    background-color: var(--tealblue);
}
#deleteTr:active{
    background-color: yellow;
}